@tailwind base;

@tailwind components;

.h3-style {
  @apply mb-4 text-xl font-bold;
}

@font-face {
  font-family: "roboto_slabregular";
  src: url("RobotoSlab-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;
